html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  background-color:#000;
  font-size: 1.125rem;
  color: #fff;
  padding: .4em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-subtle {
  background-color:#ccc;
  font-size: 1.125rem;
  color: #fff;
  padding: .4em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-ghost {
  background-color:#fff;
  font-size: 1.125rem;
  color: #000;
  padding: .4em;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
}

.btn-warning {
  background-color:#f33;
  font-size: 1.125rem;
  color: #fff;
  padding: .4em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-small {
  background-color:#000;
  font-size: .875rem;
  color: #fff;
  padding: .3em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-subtle-small {
  background-color:#ccc;
  font-size: .875rem;
  color: #fff;
  padding: .3em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-ghost-small {
  background-color:#fff;
  font-size: .875rem;
  color: #000;
  padding: .3em;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
}

.btn-warning-small {
  background-color:#f33;
  font-size: .875rem;
  color: #fff;
  padding: .3em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-big {
  background-color:#000;
  font-size: 1.5rem;
  color: #fff;
  padding: .75em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-subtle-big {
  background-color:#ccc;
  font-size: 1.5rem;
  color: #fff;
  padding: .75em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}

.btn-ghost-big {
  background-color:#fff;
  font-size: 1.5rem;
  color: #000;
  padding: .75em;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
}

.btn-warning-big {
  background-color:#f33;
  font-size: 1.5rem;
  color: #fff;
  padding: .75em;
  border-radius: 8px;
  border-style: none;
  border-width: 3px;
}
